@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');

:root {
  --acc-one: #FF941C;
  --acc-two: #FFC633;
  --acc-thr: #86ae3a;
  --bg-dark: #141414;
  --tx-dark: #1E1E1E;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  color: white;
}

html, body, #app {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: var(--bg-dark);
}
